@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {

}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  .cw-pricing--description
  {
    font-size: 16px;
    white-space: pre-line;
  }
}

// ≤768px
@include media-breakpoint-up(md) {
  .cw-audits
  {
    height: 270px;
    width: 430px;
    margin-bottom: 200px;
  }
  .cw-audits--textbig
  {
    font-size: 16px;
    position: absolute;
  }
  .cw-audits--roundbig
  {
    width: 240px;
    height: 240px;
    left: 68px;
  }
  .cw-audits--textsm
  {
    font-size: 16px;
    right: 0;
    bottom: 0;
  }

  .cw-audits--roundsm
  {
    width: 150px;
    height: 150px;
    bottom: 7px;
    left: 220px;
  }
}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
  .cw-nav{
    .cw-socicons{
      a{
        margin-right: 10px;
        &:nth-child(3){
          margin-right: 30px;
        }
        img{
          width: 25px;
          height: 25px;
        }
      }
    }
    ul{
      li{
        padding-right: 10px;
        a{
          font-size: 15px;
        }
      }
    }
  }
}
