header {
  position: relative;
  background-color: #11051d;
}
.cw-logo{
  display: inline-block;
  padding-bottom: 10px;
  background: transparent;
  border-top: 4px solid #fff;
  img{
    width: 86px;
    padding: 10px 15px;
  }
  .cw-logo--normal
  {
    display: block;
  }
  .cw-logo--hover
  {
    display: none;    
  }  
  &:hover
  {
    border-color: #ed445e;
    .cw-logo--text---big
    {
      color: #ed445e;
    }
    .cw-logo--text---small
    {
      color: #ed445e;
    }
    .cw-logo--normal
    {
      display: none;
    }
    .cw-logo--hover
    {
      display: block;
    }
  }
  .cw-logo--text---big
  {
    font-weight: 600;
    font-size: 15px;
    text-align: center;    
    line-height: 15px;
    color: white;
  }
  .cw-logo--text---small
  {
    font-weight: 600;
    font-size: 9px;
    line-height: 9px;
    text-align: center;    
    color: white;
  }
}
.cw-nav{
  .cw-socicons{
    display: inline-block;
    a{
      margin-right: 5px;
      text-decoration: none;
      &:nth-child(3){
        margin-right: 10px;
      }
      img{
        width: 20px;
        height: 20px;
      }
    }
  }
  ul{
    display: inline-block;
    margin-bottom: 0;
    li{
      display: inline-block;
      padding-right: 5px;
      a{
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        &:hover {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}