.cw-rooms{
  height: 100%;
  background-position: center;
  padding-top: 120px;
  padding-bottom: 150px;
  background-size: cover;
  position: relative;
  .cw-rooms--things{
    .cw-thing--icon{
      padding-right: 5px;
      padding-left: 5px;
      p{
        color: #fff;
        font-size: 14px;
      }
      img{
        width: 35px;
        height: 35px;
      }
    }
  }
  .cw-about--rooms{
    p{
      padding-top: 20px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.cw-things{
  h2{
    font-weight: 600;
  }
  .cw-thing--image{
    p{
      text-align: center;
      font-weight: 600;
      padding-top: 10px;
    }
    img{
      border: 2px solid #6e3d95;
      box-sizing: border-box;
      width: 169px;
      height: 108px;
    }
  }
  .cw-thing--header{
    padding-top: 80px;
    h3{
      font-weight: 900;
      font-size: 20px;
    }
  }
  .cw-thing--content{
    padding-top: 80px;
    p{
      font-weight: 600;
    }
  }
}
