.page-hero {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  color: #ffffff;
  padding: 75px 0 100px;

  h1 {
    font-size: 34px;
    text-shadow: 0 0 22px rgba(0, 0, 0, 0.50);
    letter-spacing: -2px;
  }

}
.page-hero--content{
  height: calc(100vh - 200px);
}